/* CMU Serif font-face definitions with corrected font-style values */
/* Original computer-modern package uses invalid "font-style: roman" */

@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: 400;
  src: url("~computer-modern/fonts/cmu-serif-500-roman.woff2") format("woff2"),
       url("~computer-modern/fonts/cmu-serif-500-roman.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: 500;
  src: url("~computer-modern/fonts/cmu-serif-500-roman.woff2") format("woff2"),
       url("~computer-modern/fonts/cmu-serif-500-roman.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: 400;
  src: url("~computer-modern/fonts/cmu-serif-500-italic.woff2") format("woff2"),
       url("~computer-modern/fonts/cmu-serif-500-italic.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: 500;
  src: url("~computer-modern/fonts/cmu-serif-500-italic.woff2") format("woff2"),
       url("~computer-modern/fonts/cmu-serif-500-italic.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: 700;
  src: url("~computer-modern/fonts/cmu-serif-700-roman.woff2") format("woff2"),
       url("~computer-modern/fonts/cmu-serif-700-roman.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: bold;
  src: url("~computer-modern/fonts/cmu-serif-700-roman.woff2") format("woff2"),
       url("~computer-modern/fonts/cmu-serif-700-roman.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: 700;
  src: url("~computer-modern/fonts/cmu-serif-700-italic.woff2") format("woff2"),
       url("~computer-modern/fonts/cmu-serif-700-italic.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: bold;
  src: url("~computer-modern/fonts/cmu-serif-700-italic.woff2") format("woff2"),
       url("~computer-modern/fonts/cmu-serif-700-italic.ttf") format("truetype");
}
